*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --ff-heading:'Staatliches', sans-serif;
  --ff-texting:'Roboto', sans-serif;
  --bg-primary: #EFF1FF;
  --bg-heading: #8E9AAF;
  --fc-primary: #4A4E69;
  --fc-secondary: #23053A;
  --fc-heading: #ffffff;
  font-size: 62.5%;
  --fs-body: 2.4rem;
  --fs-heading: clamp(4rem, 1rem + 5vw, 4.8rem);
  --fs-card-h2: 2rem;
}

body{
  font-family: var(--ff-texting);
  background-color: var(--bg-primary);
  color: var(--fc-primary);
  font-size: var(--fs-body);
}

.page{
  display: inline-flex;
  max-width: 128rem;
  height: 100vh;

  margin: 0 auto;
}

@media (min-width: 700px){
  main{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .page{
    max-width: 117rem;
  }
}

@media (min-width: 930px) {
  
  main{
    grid-template-areas: "A B C" "D E F";
  }

  main div:nth-child(1) {
    grid-area: A;
  }
  main div:nth-child(2) {
    grid-area: B;
  }
  main div:nth-child(3) {
    grid-area: C;
  }
  main div:nth-child(4) {
    grid-area: D;
  }
  main div:nth-child(5) {
    grid-area: E;
  }
  main div:nth-child(6) {
    grid-area: F;
  }
}

img{
  margin: 0 8.1rem 0 9.8rem;
  width: 100%;
/*   height: auto; */
}

header{
  width: 37.7rem;
  height: 100vh;
  margin: 0rem 0 0rem;
  color: var(--fc-heading);
  background: var(--bg-heading);
  font-family: var(--ff-heading);
  text-align: center;
  animation-name: topdown;
  animation-duration: 900ms;
  align-items: center;
}

header img{
  margin-top: 3.2rem;
  width: 21.44rem;
  height: 16.7rem;
  
}

header h1 {
  background: #CBC0D3;
  width: 37.7rem;
  height: 7rem;
  padding: 2.1rem;
  font-weight: 400;
  font-size: var(--fs-heading);
  line-height: 3.4rem;
  margin: 0 0 5rem;
}

header p{
  font-weight: 400;
  font-family: var(--ff-texting);
  color: var(--fc-secondary);
  line-height: 2rem;

}

main{
  margin-top: 6rem;
  display: grid;
  gap: 3.2rem;
  animation: downtop 900ms 200ms backwards;
}

.card{
  position: relative;
  font-family: var(--ff-heading);
}

.card img{
  object-fit: cover;
  transition: transform 200ms;
  filter:brightness(0.7);
}

#a{
  max-width: 22rem;
  min-width: 22rem;
  position: absolute;
  grid-area: "item-1";
  grid-row: item-1;
  object-fit: cover;
}
#a img{
  position: absolute;
 height: 15rem;
 left: 3.8rem;
 top: 2.5rem;
 border-radius: 2rem;
}

#b{
  max-width: 22rem;
  min-width: 22rem;
  position: absolute;
  grid-area: "item-3";
  grid-row: item-3;
}

#b img{
  position: absolute;
  height: 35rem;
  left: 29.7rem;
  top: 2.5rem;
  border-radius: 2rem;
}

#c{
  max-width: 22rem;
  min-width: 22rem;
  position: absolute;
  grid-area: "item-5";
  grid-row: item-5;
}

#c img{
  position: absolute;
 width: 22rem;
 height: 15rem;
 left: 55.7rem;
 top: 2.5rem;
 border-radius: 2rem;
}

#d{
  max-width: 22rem;
  min-width: 22rem;
  position: absolute;
  grid-area: "item-2";
  grid-row: item-2;
}
#d img{
  position: absolute;
 width: 22rem;
 height: 35rem;
 left: 3.8rem;
 top: 20.4rem;
 border-radius: 2rem;
}

#e{
  max-width: 22rem;
  min-width: 22rem;
  position: absolute;
  grid-area: "item-4";
  grid-row: item-4;
}
#e img{
  position: absolute;
  width: 22rem;
  height: 15rem;
  left: 29.7rem;
  top: 40.4rem;
  border-radius: 2rem;
}

#f{
  max-width: 22rem;
  min-width: 22rem;
  position: absolute;
  grid-area: "item-6";
  grid-row: item-6;
}

#f img{
  position: absolute;
  width: 22rem;
  height: 35rem;
  left: 55.7rem;
  top: 20.4rem;
  border-radius: 2rem;
}

.card img:hover{
  transform: scale(1.1);
  opacity: 0.7;
}

footer{
  position: absolute;
  left: 57.57%;
  right: 21.32%;
  top: 0.1%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  align-items: center;
  color: #4A4E69;
  margin-top: 67rem;
  font-size: 1.4rem;
  line-height: 2.8rem;
}
footer span{
  font-weight: 700;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0%{
    opacity: 0;
    transform: translateY(15px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

